<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="jquery/jquery-3.3.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <script src="js/currency.min.js"></script>
    <link rel="stylesheet" href="css/productList.css">
    <script src="js/productList.js"></script>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
    <nav-bar></nav-bar>

    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-6">
            <div class="form-control-feedback">
                <span id="sys-msg" class="text-success align-middle">
                </span>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="product_list" class="row">
            <div id="temp_product_grid" class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div>
                        <img id="temp_product_image" class="img-fluid img-thumbnail">
                    </div>
                    <div id="temp_product_title"></div>
                    <div id="temp_product_desc"></div>
                    <div id="temp_product_price"></div>
                    <div id="temp_product_button">
                        <button type="button" class="btn btn-sm btn-primary">
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>