<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D" crossorigin="anonymous"></script>
  <script src="js/currency.min.js"></script>
  <link rel="stylesheet" href="css/productList.css">
  <script src="js/productList.js"></script>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <div id="header"></div>
    <div class="container">
        <div id="product_list" class="row">
            <div id="temp_product_grid" class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div id="temp_product_image"></div>
                    <div id="temp_product_name"></div>
                    <div id="temp_product_desc"></div>
                    <div id="temp_product_price"></div>
                    <div id="temp_product_button">
                        <button type="button" class="btn btn-sm btn-primary">
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
